<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHxw7RTeJzqKfLUb4RVF1284Ry2wPF0Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>256481551893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>digitalbrain-237</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalbrain-237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256481551893:ios:ae75c8e7f91c95fb8e501c</string>
</dict>
</plist>